@import '../../component';

div.side-bar {
    display: none;
    background-color: white;
    height: 100vh;
    align-items: flex-start;
    text-align: left;
    
    @media #{$large-mq} {
        display: flex;
        width: 18%;
    }
    
    .logo-holder {
        justify-content: flex-start;
        padding: 1.5em 0;
    }

    a, .side-bar-btn {
        width: 100%;
        padding: 1.5em;
        border-radius: 0;
        border: none;
        background: 0 0;
        color: rgb(26, 26, 26);
        transition: .5s;
        text-align: left;
        text-decoration: none;
        font-size: .8em;

        &:hover {
            background-color: rgba(63, 63, 63, 0.144);
            cursor: pointer;
        }
    }
    
    .button-holder {
        width: 100%;
        .side-bar-btn {
            &.new-event-btn {
                background-color: rgb(109, 148, 255);
                color: white;
            }
        }
    }
}