@import '../../component';

div.header {
    width: 100%;
    margin-bottom: 3em;
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.102);
    .menu-icon {
        @media #{$large-mq} {
            display: none;
        }
    }
    
    .search-holder {
        display: none;
        width: 90%;

        .search-input {
            width: 40%;
        }
        
        @media #{$large-mq} {
            display: flex;
        }

    }

    @media #{$medium-mq} {
        width: 100%;
    }

    @media #{$large-mq} {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}