@import '../../component';

.event-card {
    border-radius: 1em;
    width: 100%;
    position: relative;
    text-align: center;
    
    @media #{$medium-mq} {
        margin-right: 1.2em;
        width: 100%;
    }

    @media #{$large-mq} {
        width: 23%;
    }
    
    .cover-image {
        width: 100%;
        height: 200px;
        border-radius: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .location {
            justify-content: center;
            position: absolute;
            bottom: 0;
            align-items: center;
            right: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            text-align: center;
            padding: 1em;
            background-color: white;
            width: 100%;
            height: 35%;
            font-size: .8em;

            .location-icon {
                color: $primary-color;
                margin-right: 1em;
            }
        }
    }
    
    .overlay {
        justify-content: center;

        button {
            border: none;
            padding: .5em;
            margin-right: .5em;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background-color: grey;
            }
        }
        
        .button-holder {
            .button {
                border: none;
                padding: 1em;
            }
        }
        
        .delete-btn {
            background-color: rgb(184, 65, 44);
            color: white;
        }
    }

    .event-details {
        padding: 1em;
    }

    
}