@import '../../component';

.search-holder {
  

    @media #{$large-mq} {
        width: 90%;
    }
    
    .search-bar {
        width: 100%;
        align-items: flex-end;
        z-index: 9998;
        
        .search-input {
            border: none;
            border-bottom: 1px solid rgb(196, 196, 196);
            padding-bottom: 1em;
            
            &:hover {
                cursor: text;
            }
        }
        
        input {
            width: 100%;
            padding: .6em 0;
            border: .5px solid $primary-color;
        }
        
        .header-search-icon {
            background-color: rgba(197, 197, 197, 0.603);
            padding: .5em;
            border-radius: 5px;
            margin-left: .5em;
            transition: .5s;

            &:hover {
                color: white;
                background-color: $primary-color;
            }
        }
    
    }
    .checkbox-holder {
        margin-top: .5em;
        align-items: center;
        
        .search-type {
            font-size: .8em;
            margin-left: .5em;
        }
    }
}