div.app-container {
    align-items: flex-start;
    width: 100%;
    
    .main-content {
        width: 82%;
        padding: 1em;
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}