@import '../../component';

.weather-card {
    background-color: white;
    width: 90%;
    height: 300px;
    align-self: center;
    margin-top: 3em;
    border-radius: 5px;
    align-items: center;
}